*{
    box-sizing: border-box;
}
body {
    text-align: center;
}

canvas {
    border: 1px solid black;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    margin: 10px;
    width: 300px;
    height: auto;
}
