.main-nav-container {
    display: flex;
    transition: 1s;
}

.main-nav a{
display: grid;
font-weight:400;
padding: 10px;
color: var(--colorDefaultText);
}

.main-nav a:hover{
    box-shadow: inset 0px -5px 0px 0px var(--colorNavBarButton);
    color: var(--colorNavBarButton);
}
